<!doctype html>
<html lang="{{ config('app.locale') }}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Create Event</title>

    <!-- Fonts -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../../images/apple-touch-icon-144x144.png"/>
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="../../images/apple-touch-icon-152x152.png"/>
    <link rel="icon" type="image/png" href="../../images/favicon-32x32.png" sizes="32x32"/>
    <link rel="icon" type="image/png" href="../../images/favicon-16x16.png" sizes="16x16"/>
    <meta name="application-name" content="MonkeyBusiness"/>
    <meta name="msapplication-TileColor" content="#FFFFFF"/>
    <meta name="msapplication-TileImage" content="mstile-144x144.png"/>
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,600" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="/public/css/app.css"/>
    <link rel="stylesheet" href="../../public/css/layout.css"/>


</head>
<body>
<div class="topnav" id="myTopnav">
    <a href="createEvent.html">Create Events</a>
    <a href="manageEvent.html">Manage Events</a>
    <a href="contact.html">Contact</a>
    <a href="../../public/index.php">Logout</a>
</div>

<div class="flex-center position-ref full-height">
    <div class="content">
        <div class="title m-b-md">
            Create Event
        </div>
        <label>Event name:</label> <input type="text" name="EventNameText" class="eventAanmakenInput"/>
        <br>
        <label>Startdate:</label> <input type="date" name="StartDateInput" class="eventAanmakenInput" id="startdateInput"/>
        <br>
        <label>Enddate:</label> <input type="date" name="EndDateInput" class="eventAanmakenInput" id="EndDateInput"/>

        <br>
        <label>Location:</label> <input type="text" name="LocationText" class="eventAanmakenInput" id="locationInput"/>
        <br>
        <button class="addEventButton" type="submit">Add Event</button>
    </div>
</div>

</body>
</html>
